* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: rgb(232, 205, 194);
}

img {
    max-width: 100%;
}

h1, h2 {
    margin-bottom: 14px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background: orange;
    color: #fff;
    height: 60px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
    
}

ul {
    list-style-type: none;
}

.navbar .logo {
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.header {
    background-color: darkorange;
    color: #fff;
    min-height: 400px;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 400px;
    border-radius: 6px;
    margin: 20px auto;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    background: darkorange;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
}

@media(max-width: 768px) {
    .header .container {
        flex-direction: column;
        /* justify-content: center; */
    }
    .boxes .container {
        display: block;
        text-align: center;
    }
}